
@import "tailwindcss";
// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';
// @plugin "daisyui";
@import './custom-fonts.css';


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}